@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}

.box-container {
  margin: 0 auto;
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  padding-top: 40px;
}

.todo-box {
  height: 50%;
  width: 50%;
}
